.feed {
  margin: 40px 70px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row .link {
  font-size: 16px;
  font-family: var(--thin);
}

.title {
  font-size: 24px;
  font-family: var(--bold);
  color: var(--purple);
}

.feed > div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.monthly {
  display: flex;
  flex-direction: row;
}

.project {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.project img,
.project video {
  aspect-ratio: 1.78 / 1;
  cursor: pointer;
}

.projectInfo {
  display: flex;
  flex-direction: column;
}

.projectInfo {
  font-size: 16px;
  font-family: var(--regular);
}

.spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.spaceBetween > p {
  font-size: 20px;
  font-family: var(--bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.impression {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.iconText {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}

.iconText img {
  height: 10px;
}

.iconText p {
  font-size: 12px;
  font-family: var(--regular);
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 1015px) {
  .projects {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .projects {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
