.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2px;
  border: 2px solid var(--grey);
  height: 32px;
  background-color: white;
}

.button {
  color: black;
  background-color: white;
  padding: 2px 8px;
  border-radius: 25px;
  font-size: 14px;
  font-family: var(--medium);
}
