.footer {
  padding: 6px 0;
  border-top: 1px solid var(--grey);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

.flexRow {
  margin: 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pages {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  color: var(--grey);
  font-size: 16px;
  font-family: var(--medium);
}

.logo {
  position: relative;
}

.logo::before {
  content: "";
  position: absolute;
  margin-left: 26px;
  width: 2px;
  height: 16px;
  background-color: var(--grey);
}

.logo svg {
  height: 16px;
  fill: var(--grey);
  color: var(--grey);
}

.coordinate {
  margin-left: 20px;
}
