.background {
  background-color: #815ac4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 420px;
  height: 560px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  margin-bottom: 30px;
}

.logo::before {
  content: "";
  position: absolute;
  margin-left: 28px;
  width: 2px;
  height: 16px;
  background-color: black;
}

.logo img {
  height: 16px;
}

.coordinate {
  margin-left: 24px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-bottom: 30px;
}

.link {
  width: 132px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  border-bottom: var(--grey) solid 2px;
  font-family: var(--regular);
  font-size: 16px;
}

#active {
  color: var(--purple);
  border-bottom: var(--purple) solid 2px;
  font-family: var(--bold);
}

.form {
  width: 284px;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input label {
  font-family: var(--medium);
  font-size: 16px;
}

.input label::after {
  content: "*";
  color: var(--purple);
}

.double {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.double input[type="text"] {
  width: 100%;
}

.input input[type="email"],
.input input[type="password"],
.input input[type="text"] {
  appearance: none;
  height: 28px;
  padding-left: 16px;
  border-radius: 25px;
  border: var(--grey) solid 2px;
  font-family: var(--regular);
}

.input input[type="email"]:focus,
.input input[type="password"]:focus,
.input input[type="text"]:focus {
  appearance: none;
  outline: none;
  border: var(--purple) solid 2px;
}

.row {
  display: flex;
  flex-direction: row;
  font-family: var(--medium);
  font-size: 16px;
}

.row span {
  color: var(--purple);
}

.form input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin-bottom: 20px;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  border: var(--purple) solid 1px;
  display: grid;
  place-content: center;
}

.form input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 10px 10px var(--purple);
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.form input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.cardBody input[type="submit"] {
  appearance: none;
  margin-top: 4px;
  width: 100%;
  height: 32px;
  border-radius: 25px;
  background-color: var(--purple);
  border: none;
  color: white;
  font-family: var(--medium);
  font-size: 18px;
}

.form input[type="submit"]:active {
  animation: darkerInOut 0.2s ease-in-out;
}

@keyframes darkerInOut {
  0% {
    background-color: var(--purple);
    color: white;
  }
  50% {
    background-color: #3e2569;
    color: var(--grey);
  }
  100% {
    background-color: var(--purple);
    color: white;
  }
}

.other {
  margin-top: 20px;
  color: var(--grey);
  font-family: var(--regular);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  white-space: nowrap;
}

.other::after,
.other::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: var(--grey);
  margin: 0 8px;
}

.cardBody button[type="button"] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
